# Папка с черновым кодом
drafts/

# Секреты и переменные окружения
.env
.env.*
!.env.example
.venv/

# Так как просили добавить ноутбук с обучением модели, то
# на всякий добавляю папку с чекпоинтами
.ipynb_checkpoints/
*.nbconvert.ipynb

#Кэши python
__pycache__/

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
*~
